<div class="posts mt-5">
  <% posts.each do |post| %>
    <div class="post">
      <div class="card">
        <%= link_to post_path(post) do %>
          <%= thumbnail_image(post) %>
          <div class="card-body">
            <h5 class="card-title"><%= post.title.truncate(30) %></h5>
            <div class="card-text">
              <div class="text-black-50">
                <small><%= post.created_at.strftime("%F") %> • 20 comments
                  • <%= pluralize(post.views, "view") %></small>
              </div>
        <% end %>
        <hr/>
        <div class="d-flex justify-content-between align-items-center">
          <%= link_to user_path(post.user), class: "text-dark" do %>
            <%= profile_image(post.user, 20, 20) %>
            <small>by <strong><%= post.user.username %></strong></small>
          <% end %>
          <span>★ <%= post.likes.count %></span>
        </div>
        </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="digg_pagination d-flex justify-content-center mt-3">
  <%= will_paginate posts, :container => false %>
</div>
