<nav class="navbar navbar-light" style="z-index: 5">
  <%= link_to "BBS", root_path, class: "navbar-brand font-weight-bold", style: "font-size: 3rem" %>
  <div type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <% if current_user %>
      <%= profile_image(current_user, 40, 40) %> <%= fa_icon "angle-down" %>
    <% else %>
      <%= link_to "Sign In", signin_path, class: "btn btn-dark" %>
    <% end %>
  </div>
</nav>
<div class="d-flex justify-content-end">
  <ul class="list-group collapse position-absolute" style="z-index: 5" id="navbarNav">
    <li class="list-group-item">
      <div class="nav-item mb-3">
        <%= link_to "My Posts", current_user, class: "text-dark" %>
      </div>
      <div class="nav-item mb-3">
        <%= link_to "New Post", new_post_path, class: "text-dark" %>
      </div>
      <% if current_user %>
        <div class="nav-item mb-3">
          <%= link_to "Account Settings", edit_user_path(current_user), class: "text-dark" %>
        </div>
        <div class="nav-item mb-3">
          <%= link_to "Sign Out", session_path, method: :delete, class: "text-dark" %>
        </div>
      <% end %>
    </li>
  </ul>
</div>
